[user]
	name = Hemil Kaklotar
	email = 83568973+hemilkaklotar@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[safe]
	directory = /mnt/d/Work/Kaushikbhai/Extuent/profile_manager
	directory = /mnt/d/Work/Kaushikbhai/Appinventiv/snaps
[core]
	autocrlf = input
