layout {

    focus-ring {
        active-color   "#c0c5e1"
        inactive-color "#000000"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c0c5e1"
        inactive-color "#000000"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#c0c5e1"
        inactive-color "#0a1024"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c0c5e180"
    }
}

recent-windows {
    highlight {
        active-color "#c0c5e1"
        urgent-color "#ffb4ab"
    }
}
