/* ....................................*/
/* ..........Half Moon.................. */
/* NOTE: This is only for some waybar configs */
/* --- 👍 shared by https://github.com/TomekBobrowicz  👍 --- */

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  min-height: 0;
  /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
  font-size: 100%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
  background-color: rgba(26, 27, 38, 0);
  border-bottom: 1px solid rgba(26, 27, 38, 0);
  border-radius: 0px;
  color: #e6b673;
}

#waybar.empty,
#waybar.tiled,
#waybar.floating {
  background-color: transparent;
}

window#waybar.empty,
window#waybar.empty #window {
  background-color: transparent;
}

#taskbar,
#workspaces {
  background: #0f1419;
  margin: 5px;
  padding: 0px 1px;
  border-radius: 15px;
  border: 0px;
  font-style: normal;
  color: #0f1419;
}

#taskbar button,
#workspaces button {
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 15px;
  border: 0px;
  color: #0f1419;
  background: linear-gradient(45deg, #95e6cb, #59c2ff, #d2a6ff);
  opacity: 0.5;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button.active,
#workspaces button.active {
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 15px;
  border: 0px;
  color: #0f1419;
  background: linear-gradient(45deg, #59c2ff, #d2a6ff);
  opacity: 1;
  min-width: 40px;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  border-radius: 15px;
  color: #0f1419;
  background: linear-gradient(45deg, #59c2ff, #d2a6ff);
  opacity: 0.8;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

@keyframes gradient_horizontal {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes swiping {
  0% {
    background-position: 0% 200%;
  }

  100% {
    background-position: 200% 200%;
  }
}

tooltip {
  background: #0f1419;
  border: 1px solid #d2a6ff;
  border-radius: 10px;
}

tooltip label {
  color: #f3f4f5;
}

#window {
  color: #e6e1cf;
  background: #0f1419;
  border-radius: 50px 50px;
  margin: 5px;
  padding: 2px 15px;
}

#temperature,
#memory {
  color: #e6b673;
  background: #0f1419;
  border-radius: 50px 50px;
  margin: 5px;
  padding: 2px 15px;
}

#custom-light_dark,
#custom-swaync,
#idle_inhibitor,
#clock {
  color: #b8cc52;
  background: #0f1419;
  border-radius: 50px 50px;
  margin: 5px;
  padding: 2px 15px;
}

#bluetooth {
  color: blue;
  background: #0f1419;
  border-radius: 50px 50px;
  margin: 5px;
  padding: 2px 15px;
}

#power-profiles-daemon,
#custom-cycle_wall,
#cpu {
  color: #f3f4f5;
  background: #0f1419;
  border-radius: 50px 50px;
  margin: 5px;
  padding: 2px 15px;
}

#disk {
  color: #b8cc52;
  background: #0f1419;
  border-radius: 50px 50px;
  margin: 5px;
  padding: 2px 15px;
}

#backlight,
#battery {
  color: #f07178;
  background: #0f1419;
  border-radius: 50px 50px;
  margin: 5px;
  padding: 2px 15px;
}

#mpris {
  color: #f07178;
  background: #0f1419;
  border-radius: 50px 50px;
  margin: 5px;
  padding-left: 8px;
  padding-right: 2px;
}

#backlight {
  color: white;
  background: #0f1419;
  border-radius: 50px 50px;
  margin: 5px;
  padding: 2px 15px;
}

#network {
  color: #ff8f40;
  background: #0f1419;
  border-radius: 50px 50px;
  margin: 5px;
  padding: 2px 15px;
}

#custom-hyprbindings {
  color: #d2a6ff;
  background: #0f1419;
  background: #0f1419;
  border-radius: 50px 50px;
  margin: 5px;
  padding: 2px 15px;
}

#tray {
  color: #e6e1cf;
  background: #0f1419;
  border-radius: 50px 50px;
  margin: 5px;
  padding: 2px 15px;
}

#pulseaudio {
  color: #59c2ff;
  background: #0f1419;
  border-radius: 50px 50px;
  margin: 5px;
  padding: 2px 15px;
}

#custom-notification {
  color: #95e6cb;
  background: #0f1419;
  border-radius: 50px 50px;
  margin: 5px;
  padding: 2px 15px;
}

#custom-weather {
  color: #59c2ff;
  background: #0f1419;
  border-radius: 50px 50px;
  margin: 5px;
  padding: 2px 15px;
}

#custom-menu {
  color: #59c2ff;
  background: #0f1419;
  border-radius: 0px 15px 50px 0px;
  margin: 5px 5px 5px 0px;
  padding: 1px 15px;
}

#custom-power {
  color: #d2a6ff;
  background: #0f1419;
  border-radius: 15px 0px 0px 50px;
  margin: 5px 0px;
  padding: 2px 5px 2px 15px;
}

#custom-lock {
  color: red;
  background: #0f1419;
  border-radius: 50px 50px;
  margin: 5px;
  padding: 2px 15px;
}

#custom-power_vertical,
#keyboard-state {
  color: green;
  background: #0f1419;
  border-radius: 50px 50px;
  margin: 5px;
  padding: 2px 15px;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio-slider slider {
  min-width: 0px;
  min-height: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-width: 80px;
  min-height: 5px;
  border-radius: 5px;
  background-color: #6e6a86;
}

#pulseaudio-slider highlight {
  min-height: 10px;
  border-radius: 5px;
  background-color: purple;
}

#backlight-slider slider {
  min-width: 0px;
  min-height: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#backlight-slider trough {
  min-width: 80px;
  min-height: 10px;
  border-radius: 5px;
  background-color: #6e6a86;
}

#backlight-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: purple;
}

