/**
 * Colors
 **/

* {
    background:     #191724; /* @bg */
    background-alt: #26233a; /* @cur */
    foreground:     #e0def4; /* @fgd */
    selected:       #ebbcba; /* @active-background */
    active:         #31748f; /* @active-background */
    urgent:         #eb6f92; /* @red */
}
